*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





body {
    background-color: #d5e1ef;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main {
    width: 320px;
    height: 497px;
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}
.color {
    background-color: white;
}
.image {
    width: 288px;
    height: 288px;
    border-radius: 10px;
}
.line1 {
    width: 288px;
    height: 56px;
    font-family: "Outfit";
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
   

}
.line2 {
    width: 256px;
    height: 57px;
    font-family: "Outfit";
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.1875px;
    text-align: center;
    color: #7D889E;
}